* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: #ff0000;
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#clock {
  font-size: 15vw;
  letter-spacing: 0.05em;
  text-align: center;
}
